@model IEnumerable<CI3540.UI.Areas.Store.Models.OrderViewModel>

@{
    ViewBag.Title = "Order History";
    Layout = "";
}

<h2>Order History</h2>


<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Tax</th>
            <th>Total</th>
            <th><!-- Actions --></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>DATE</td>
                <td>@order.Tax</td>
                <td>@order.Total</td>
                <td>VIEW / SUBMIT RETURN</td>
            </tr>
        }
    </tbody>
</table>