<?xml version="1.0" encoding="utf-8"?>
<packages>
  
  <!-- Used to generate some fake data when seeding the database initially -->
  <package id="Faker.Net" version="1.0.3" targetFramework="net45" />
  
  <!-- Used to generate the objects when seeding the database initally -->
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
</packages>

